/*variáveis*/
:root {
    --azul-escuro: #051D3B;
    --cor-texto-ativo: #ffffff;
    --cor-texto-inativo: #ffffff75;
    --cor-fundo-input: #ffffff1b;
    --item-menu-ativo: #5081FB;
    --item-menu-inativo: #5080fb2e;
    --elipse-verde: #27C93F;
    --elipse-amarela: #FFBD2E;
    --elipse-vermelha: #FF5F56;
}

/*zerando espaçamentos padrões dos navegadores*/
* {
    margin: 0;
    padding: 0;
}

/*definição da família de fonte da página*/
body {
    font-family: 'Inter', sans-serif;
}

/*criando o fundo azul*/
.container {
    width: 100%;

    background: var(--azul-escuro);

    border-radius: 50px;

    color: var(--cor-texto-ativo);
}

/*criação do cabeçalho*/
.cabecalho {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;

    padding: 2rem 0;

}

/*definindo espaçamento da logo*/
.cabecalho__logo {
    padding-left: 10%;
    max-width: 80%;
    min-width: 80px;

}

/*criando o campo de busca do cabeçalho*/
.icone__pesquisar {
    display: none;
}

.buscar__texto {
    background-color: var(--cor-fundo-input);

    border: none;
    border-radius: 8px;

    width: 100%;

    padding: 1rem;

    font-size: 1rem;
    color: #ffffff;

}

.buscar__texto::placeholder {
    color: var(--cor-texto-inativo);
}

/*área do perfil*/

.perfil {
    display: flex;
    justify-content: end;
}

.cabecalho__perfil {
    width: 40%;
    margin-right: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    border: none;
    border-radius: 8px;

    padding: 2%;

    background: transparent;
    color: var(--cor-texto-ativo)
}

.cabecalho__perfil:hover {
    background-color: var(--cor-fundo-input);
}

.icone__menu {
    display: none;
}

/*Are de conteudo*/
.conteudo {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: flex-start;
}

/*estilização dos titulos de cada conteudo*/
.tilulo__sessao {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

/*estilização do menu lateral*/
.menu {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    text-decoration: none;

    color: var(--cor-texto-inativo);
}

.item__icone {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--item-menu-inativo);
    border-radius: 15px;
}

.icone__imagem {
    opacity: 0.48;
}

.item__texto {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

/*estilização da alteração de inativo pra ativo*/
.topico--ativo {
    background: var(--item-menu-ativo);
}

.icone--ativo {
    opacity: 1;
}

.texto--ativo {
    color: var(--cor-texto-ativo);
}

.borda__campoCodigo {
    background: #6BD1FF;

    border-radius: 8px;

    padding: 2rem;

    margin-bottom: 2rem;
}

.campo__codigo {
    height: 300px;

    background: #000000;
    border-radius: 8px;
}

.elipse {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
}

.elipse--vermelha {
    margin-left: 1rem;
    margin-top: 1rem;
    background: var(--elipse-vermelha);
}

.elipse--amarela {
    background: var(--elipse-amarela);
}

.elipse--verde {
    background: var(--elipse-verde);
}

.area__codigo {
    margin: 1rem;
    display: block;
    width: 90%;

    background: #000000;

    border: none;

    color: var(--cor-texto-ativo);

    resize: none;
}

.botao__highlight {
    width: 100%;

    padding: 1rem;

    border: none;
    border-radius: 8px;

    background: var(--item-menu-inativo);
    color: var(--cor-texto-ativo);
}

.conteudo__secundario {
    margin-bottom: 5rem;
    padding: 0 10%;

    font-size: 0.75rem;
}

.conteudo__secundario_sessao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.titulo__projeto {
    background-color: var(--cor-fundo-input);

    border: none;
    border-radius: 8px;

    width: calc(100% - 2rem);

    padding: 1rem;

    color: #ffffff;

}

.titulo__projeto::placeholder {
    color: var(--cor-texto-inativo);
}

.descricao__projeto {
    background-color: var(--cor-fundo-input);

    border: none;
    border-radius: 8px;

    width: calc(100% - 2rem);

    padding: 1rem;

    color: #ffffff;

    resize: none;
}

.descricao__projeto::placeholder {
    color: var(--cor-texto-inativo);
}

.selecao__linguagem {
    background: var(--cor-fundo-input);

    border: none;
    border-radius: 8px;

    width: 100%;

    padding: 0.8rem;

    color: var(--cor-texto-inativo);

    cursor: pointer;

}

.selecao__opcao {
    background: #1f3550;
    color: var(--cor-texto-inativo);
}

.selecao__cor {
    width: 100%;
    height: 3rem;
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
}

.botao__salvar {
    background: #6B83FF;
    color: #051D3B;

    width: 100%;
    padding: 1rem;

    border: none;
    border-radius: 8px;

    margin-bottom: 2rem;

    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .cabecalho {
        grid-template-columns: 25% 60% 15%;
    }

    .perfil {
        display: none;
    }

    .icone__menu {
        display: block;
        width: 25px;
        height: 25px;

        justify-self: center;
        background: transparent;
        border: none;
    }

    .menu {
        display: none;
    }

    .conteudo {
        margin: 0 2rem;
        display: flex;
        flex-direction: column;
    }

    .conteudo__principal {
        width: 100%;

        margin-bottom: 2rem;
    }

    .conteudo__secundario {
        width: 100%;
        padding: 0;

    }

    .personalizacao {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .titulo--personalizacao {
        grid-column: 1/3;
        grid-row: 1;
    }

}

@media screen and (max-width:376px) {
    .cabecalho {
        grid-template-columns: 50% 25% 25%;
    }

    .icone__pesquisar {
        display: block;
        width: 25px;
        height: 25px;

        background: transparent;
        border: none;

        justify-self: end;
    }

    .buscar__texto {
        display: none;
    }

}